.body {
    /*display: flex;*/
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%) fixed;
    /*background-color: red;*/
}

html, body {
    margin: 0;
    font-size: 100%;
}

.set-pos {
    position: absolute;
    top: 100px;
    left: 500px;

}

.form-header {
    position: relative;

    margin-left: 35%;

    font-size: 35px;
    font-family: "KacstTitle", sans-serif;

    color: #404040;
    text-shadow: 1px 2px 4px lightcyan;
}

.form-body {
    position: relative;
    box-sizing: border-box;

    width: 330px;
    height: 550px;

    /*margin: 32.5vh auto;*/
    padding-left: 5%;
    padding-top: 5%;

    border: 3px solid lightgrey;

    /*background: rgba(173, 216, 230, .4);*/
    background-color: rgba(0, 0, 0, .2);
}

.form-field {
    margin-bottom: 8%;
}

.field-name {
    font-family: "Bahnschrift", sans-serif;
    font-size: 120%;
}

.field-hint {
    display: block;

    margin-top: 5%;

    font-size: 80%;
    font-family: "Bahnschrift", sans-serif;
}

.field-margin {
    display: block;
    /*margin-left: 2%;*/

}

.form-button {
    width: 25%;
    margin-left: 32.5%;

    font-family: "Bahnschrift", sans-serif;

    background-color: lightblue;
    box-shadow: 5px 2px 10px lightgrey;
}

.login-link {
    display: block;
    margin-top: 8%;

    font-family: "Bahnschrift", sans-serif;
    text-decoration: none;
}